<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<th:block th:fragment="main-navbar">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="navbar-fixed">
            <ul class="nav">
                <li class="nav-item">
                    <a class="text-decoration-none" href="/dashboard"><img id="navbarLogoIdx" src="/img/Logo/shNavbarBrandLogo.png"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            </ul>
        </div>
    </nav>

    <nav id="smallNav" class="navbar navbar-dark bg-black">
        <a class="text-decoration-none"
           th:href="@{'/'}"><img id="navbarLogoIdxMobile" src="/img/Logo/shNavbarBrandLogo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample01">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            </ul>
        </div>
    </nav>
</th:block>