<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="signedIn-navbar">
        <link rel="stylesheet" th:href="@{/css/navbar-main.css}"/>

                <nav id="largeIndex" class="navbar navbar-expand-md justify-content-between">
                    <a class="icon-a-tag text-decoration-none navbar-brand text-white" th:href="@{'/home'}"><img id="navbarLogoIdx" src="/img/shaved-ice-icon.png"></a>
<!--                    <li class="nav-item"><a class="text-decoration-none" th:href="@{'/dashboard'}"><img id="sidebarLogo"-->
<!--                                                                                                        src="/img/shaved-ice-icon.png"></a></li>-->

                    <div class="navbar-fixed">
                        <ul class="nav">
                            <li class="nav-item navbar-right">
                                <a class="nav-link" href="/login">Login</a>
                            </li>
                            <li class="nav-item navbar-right">
                                <a class="nav-link" href="/register">Register</a>
                            </li>
                            <li class="nav-item navbar-right">
                                <a class="nav-link" href="/aboutus">About Us</a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <nav id="mobileIndex" class="navbar navbar-expand-md navbar-dark bg-dark">
                    <div class="navbar-fixed">
                        <ul class="nav">
                            <li class="nav-item">
                                <img id="navbarLogoIdxMobile" src="/img/Logo/shNavbarBrandLogo.png">
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/aboutus">About Us</a>
                            </li>
                        </ul>
                    </div>
                </nav>

    </th:block>
</html>