body{
    display: grid;
    grid-template-columns: 100%;
    /*grid-template-rows: 60px 100% 100px;*/
    grid-template-rows: 120px 100% 100px;
}

footer{
    height: max-content;
    padding: 1rem;
    background-color: lightslategray;
    grid-column: 1/2;
    grid-row: 3/4;

}

.signedInFooterContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;


}

main{
    margin-bottom: 3rem;
    grid-column: 1/2;
    grid-row: 2/3;
}

#largeNav{
    background: lightgray;
    grid-column: 1/2;
    grid-row: 1/2;
    height: max-content;
}




