navbar-fixed {
    width: 100% !important;
}

nav-wrapper {
    width: 100% !important;
    display: flex !important;
}

#dashboardResult{
    z-index: 2;
    position: absolute;
    top: 38px;
    background: white;
    width: max-content;
}

#smallNav {
    display: none;
}

#quitCoin {
    color: #ffffff;
    margin-left: 1rem;
}

#divideDivNavbar {
    border: #f8f8f887 1px solid;
    margin-top: 1rem;
    height: 1px;
}

#sidebarLogo {
    width: 100px;
}

#sidebarLogoMobile {
    width: 40px;
}

.nav-link{
    font-size: 20px;
}
