<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="partials/head :: main-header"/>
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
        <link rel="stylesheet" th:href="@{/css/index.css}"/>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
<!--    <div class="row">-->
        <th:block th:class="main-navbar" th:replace="partials/navbar-main :: signedIn-navbar"/>
        <main class="main-container">
            <h1>Welcome to home page </h1>

        </main>
        <th:block th:replace="partials/footer-main :: main-footer"/>
<!--    </div>-->
    </body>
</html>