<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Sign up</title>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="img/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/registerUtil.css">
    <link rel="stylesheet" type="text/css" href="css/registerMain.css">
    <!--===============================================================================================-->
</head>
<body style="background-color: #999999;">
<th:block th:replace="partials/navbar-main :: signedIn-navbar"/>
<h1>Create an account</h1>
<form th:action="@{/register}" method="POST" th:object="${user}">

    <label for="name">Name</label>
    <input id="name" th:field="*{name}"/>

    <label for="username">Username</label>
    <input id="username" th:field="*{username}" />

    <label for="password">Password</label>
    <input id="password" type="password" th:field="*{password}" />

    <label for="phone">Phone number</label>
    <input id="phone" th:field="*{phone_number}">

    <label for="gender">Gender</label>
    <input id="gender" th:field="*{gender}">

    <input value="Sign me up!" type="submit" />
</form>

<!--Template start-->
<div class="limiter">
    <div class="container-login100">
        <div class="login100-more" style="background-image: url('img/bg-01.jpg');"></div>

        <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
            <form class="login100-form validate-form" th:action="@{/register}" method="POST" th:object="${user}">
					<span class="login100-form-title p-b-59">
						Sign Up
					</span>

    <!--                Full Name-->
                <div class="wrap-input100 validate-input" data-validate="Name is required">
                    <span class="label-input100">Full Name</span>
                    <input class="input100" type="text" name="name" placeholder="Name..." th:field="*{name}">
                    <span class="focus-input100"></span>
                </div>

                <!-- Is an Admin-->
                <div class="wrap-input100 validate-input" data-validate="Is Admin is required">
                    <span class="label-input100">Admin Permissions</span>
                    <input class="input100" type="text" name="is_admin" placeholder="Yes / No..." th:field="*{is_admin}">
                    <span class="focus-input100"></span>
                </div>

<!--                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">-->
<!--                    <span class="label-input100">Email</span>-->
<!--                    <input class="input100" type="text" name="email" placeholder="Email address...">-->
<!--                    <span class="focus-input100"></span>-->
<!--                </div>-->

<!--                Phone Number-->
                <div class="wrap-input100 validate-input" data-validate="Phone number is required" >
                    <span class="label-input100">Phone Number</span>
                    <input class="input100" type="text" name="phone_number" placeholder="Phone Number..." th:field="*{phone_number}">
                    <span class="focus-input100"></span>
                </div>

<!--                Gender-->
                <div class="wrap-input100 validate-input" data-validate="Username is required" >
                    <span class="label-input100">Username</span>
                    <input class="input100" type="text" name="username" placeholder="Username..." th:field="*{username}">
                    <select id="inputState" class="form-control" th:field="*{gender}">
                        <option disabled="true"  value="" selected>Choose...</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                    <span class="focus-input100"></span>
                </div>

<!--                Username-->
                <div class="wrap-input100 validate-input" data-validate="Username is required" >
                    <span class="label-input100">Username</span>
                    <input class="input100" type="text" name="username" placeholder="Username..." th:field="*{username}">
                    <span class="focus-input100"></span>
                </div>

<!--                Password-->
                <div class="wrap-input100 validate-input" data-validate = "Password is required">
                    <span class="label-input100">Password</span>
                    <input class="input100" type="text" name="pass" placeholder="*************" th:field="*{password}">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Repeat Password is required">
                    <span class="label-input100">Repeat Password</span>
                    <input class="input100" type="text" name="repeat-pass" placeholder="*************">
                    <span class="focus-input100"></span>
                </div>



                <div class="flex-m w-full p-b-33">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
								<span class="txt1">
									I agree to the
									<a href="#" class="txt2 hov1">
										Terms of User
									</a>
								</span>
                        </label>
                    </div>


                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Sign Up
                        </button>
                    </div>

                    <a href="#" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                        Sign in
                        <i class="fa fa-long-arrow-right m-l-5"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="js/registerMain.js"></script>

</body>
</html>